pkgbase = tidalamp
	pkgdesc = Terminal TIDAL client with a retro interface and hi-res playback
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/wh01s17/tidalamp
	arch = any
	license = GPL-3.0-or-later
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-hatchling
	depends = python
	depends = python-tidalapi
	depends = python-textual
	depends = python-typer
	depends = python-dbus-fast
	depends = python-requests
	depends = mpv
	optdepends = cava: real spectrum analyzer instead of the RMS meter
	optdepends = python-pillow: album cover art in the display
	source = tidalamp-0.4.0.tar.gz::https://github.com/wh01s17/tidalamp/archive/refs/tags/v0.4.0.tar.gz
	sha256sums = SKIP

pkgname = tidalamp
